footer {
    padding: 6rem 7%;
    background: var(--mainclr);
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.inner-footer {
    flex: 1 1 200px;
}

.inner-footer img {
    width: 90px;
}

.inner-footer h3 {
    font-size: 2rem;
    color: white;
}

.inner-footer a, .inner-footer i{
    color: white;
}

.inner-footer .icons-contact {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 1rem;
    padding-top: 0.8rem;
    position: relative;
}

.inner-footer .icons-media {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 1rem;
    padding-top: 0.8rem;
    position: relative;
}

.inner-footer .icons-media i{
    position: absolute;
    top: 40%;
    left: 2.2%
}

.inner-footer .icons-contact:hover {
    padding-left: 0.5rem;
}

.copy{
    text-align: center;
    margin-top: 4rem;
    border-top: 1px solid var(--trdclr);
    padding: 4rem;
    font-size: 16px;
    color: white;
}

.inner-footer .icons-media a {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
}