@import url(footer.css);
@import url(header.css);
@import url(fBackground.css);
@import url(about-us.css);
@import url(our-services.css);
@import url(gallery.css);
@import url(choose.us.css);

:root {
    --mainclr: #197278;
    --secclr: #0F1A20;
    --trdclr: #B5FFE9;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}



@media (max-width: 767px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .icons div {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--mainclr);
        display: flex;
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    .navbar a {
        display: block;
        font-size: 3rem;
        font-weight: bolder;
        margin: 1rem;
        padding: 1rem;
        color: black;
    }

    .background-content {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding-left: 5rem;
    }

    .inner-about .inner-about-image img {
        margin-top: 20px;
    }
}