* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    background: #24262b;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile Menu*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active
{
    display: block;
}

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,
.bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}

.container {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

article {
    background-color: #f9f9f9;

}

aside {
    background-color: #f0f0f0;
    padding: 10px;
}

.container-footer
{
    max-width: 1170px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #24262b;
    padding: 70px;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4
{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #006d6d;
    height: 2px;
    width: 50px;
}
.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover
{
    color: #fff;
    padding-left: 8px;
}
.footer-col .social-links {
    display: flex;
}

.footer-col .social-links li {
    margin-right: 10px;
    list-style: none;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #25262b;
    background-color: #ffffff;
}

@media all and (min-width:468px) {
    .menu
    {
        justify-content: center;
    }
    .logo
    {
        flex: 1;
    }
    .item.button
    {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle
    {
        order: 2;
    }
    .button.secondary
    {
        border: 0;
    }
    .button a
    {
        text-decoration: none;
        padding: 7px 15px;
        background: teal;
        border: 1px solid #006d6d;
        border-radius:50em;
    }
    .button.secondary a
    {
        background: transparent;
    }
    .button a:hover
    {
        transition:all .25s;
    }
    .button:not(.secondary) a:hover
    {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover
    {
        color: #ddd;
    }
}

@media all and (min-width: 768px)
{
    .item
    {
        display: block;
        width: auto;
    }
    .toggle
    {
        display: none;
    }
    .logo
    {
        order: 0;
    }
    .item
    {
        order: 1;
    }
    .button
    {
        order: 2;
    }
    .menu li
    {
        padding: 15px 10px;
    }
    .menu li.button
    {
        padding-right: 0;
    }
    
}


@media all and (max-width: 767px)
{
    .footer-col
    {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media all and (max-width: 574px)
{
    .footer-col
    {
        width: 100%;
    }
}